.cardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.cardImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 2%;
}

.cardSection {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #F0F2F5;
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.cardName {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cardComment {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 0;
  font-size: 12px;
}

.cardBottomItem {
  width: 100%;
  display: flex;
  gap: 30px;

}

.cardBottomItem li {
  display: inline-block;
  /* display: flex; */
  width: 48px;
  height: 48px;
  transform: scale(0.8) translateY(0);
  background: url("https://static.xx.fbcdn.net/rsrc.php/v2/yh/r/sqhTN9lgaYm.png") no-repeat;
  background-size: cover;
  transition: transform 200ms ease;
  position: relative;
}

.cardBottomItem li.like {
  background-position: 0 -144px;
}

.cardBottomItem li.love {
  background-position: 0 -192px;
}

.cardBottomItem li.haha {
  background-position: 0 -96px;
}

.cardBottomItem li.wow {
  background-position: 0 -288px;
}

.cardBottomItem li.sad {
  background-position: 0 -240px;
}

.cardBottomItem li.angry {
  background-position: 0 0;
}

.cardLikeBtn {
  width: 50%;
  border: none;
  color: #000000;
}

.cardLikeBtn:hover {
  color: rgb(159, 164, 173);
  cursor: pointer;
}

.reactImgContainer {
  width: 50%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;

}


.reactImg {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 200ms ease;
}

.reactImg:hover {
  opacity: .6;
  transition: transform 200ms ease;
  scale: 1.3;
}


@media (max-width: 768px) {
  .cardSection {
    width: 100%;
  }

  .cardBottomItem {
    width: 100%;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .cardSection {
    width: 100%;
  }

  .cardBottomItem {
    width: 100%;
    gap: 10px;
  }
}